extend default

block content

	.container-fluid
		.main-content
			h2.
				#{console.name}
	.container-fluid
		.main-content.container
			.table-information.
				Viser  #{games.length} spill
			table.collection-table.table.table-striped.table-condensed
				tr
					th.
						Screen-shot
					th.
						Title
					th.
						Først utgitt
					th.
						Legg til


				each val, index in games
					tr
						td
							if val.url
								div.image-icon
									img(src="/images/" + val.url).img-thumbnail
							else
								div.image-icon
									img(src="/images/no-image.jpg").img-thumbnail
						td.left
							a(href="/games/#{console.slug}/#{val.slug}").
								#{val.title}
						td.
							#{val.release_year}
						td
							if regions.length
								.btn-group
									button(type="button").btn.btn-primary.
										Action
									button(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false").btn.btn-primary.dropdown-toggle
										span.caret
										span.sr-only.
											Toggle Dropdown
									ul.dropdown-menu
										each region, index in regions
											li
												a(href="#").
													#{region.name}
							else
								button.add-game-button.btn.btn-primary.
									Legg til samling
						