extend default

block content

	.content-header
		.main-content
			h2.
				#{game.title}
			h3.
				#{game.consoleName}	

			.button-container
				button.add-game-button.
					Legg til i samling


	.content-body
		.main-content
			h3.
				Spill per region
			.table-information.
				Viser  #{regions.length} spill
			table.collection-table
				thead
					tr
						th.
							Bilde av spill
						th.
							Title
						th.
							Utgivelsesdato
						th.
							karakter
						th.
							Sjeldenhet
						th.
							Kjennetegn
						
						th.
							Region	
						th.

							Eiere	
						th.
							Endringer
						th.
							legg til
									


				
					tbody
						each val, index in regions
							tr
								td
									if val.url
										div.image-icon
											img(src="/images/" + val.url)
									else
										div.image-icon
											img(src="/images/no-image.jpg")
								td.left.
									#{val.title}
								td.
									#{val.release_date}
								td.
									
								td.
									#{val.rarity}
								td.
									
								td.
									#{val.regionName}
								td.
										
								td
									button.add-game-button.
										Lagre endringer			
								td
									button.add-game-button.
										Legg til samling

			.button-container
				button#add-game-to-region.add-game-button.
					Legg til spill i region




	#add-game-box.modal-box-wrapper(style="display: none;", data-attr-game-id="#{game.id}")  
		.modal-box-container

			.modal-box-header
				h2.
					#{game.title}

			button.close-button
				span(class="oi" data-glyph="circle-x" title="circle-x" aria-hidden="true")
			#tab-form-container
				form#login-form(action="/login", method="post")
					.form-row
						label.
							Har spillet en regionkode?
						select.region-select
							option.
								Vet ikke
							each val, index in regionselect
								option(value="#{val.id}").
									#{val.name}
					.form-row
						button(type="submit").login.
							Legg til i samling


	script(src="/javascript/addGameSelector.js")
	